.App {
  text-align: center;
}
.divs{
  background-color: yellow;
  height: 30vh;
  font-weight: bold;
  font-size: large;
}
.outer{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 50px auto;
}
.inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
}
.inp{
  background-color: black;
  color: wheat;
  text-align: center;
}
